.form-actions {
  .btn {
    &:not(:last-child) {
      margin-right: 6px;
    }
    i {
      margin-right: 5px;
    }
  }
}

.form-group {
  .alert {
    display: inline-block;
    margin-top: 10px;
    padding: 4px 10px;
    margin-bottom: 0;
  }
}
