.content-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
}

.content-loader > i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}
