$red: #ce1a1a;
$lightGreen: #f6fbe7;
$green: #8EC918;
$borderColor: #ccc;
$lightGrey: #F7FBFC;
$grey: #B5BCCE;
$purple: #1D073E;
$lightBlack: #333;


@mixin disableSelection() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}